body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #c5bbbb;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  #pokemon-container {
    width: 400px;
    height: fit-content;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin-bottom: 10px;
  }

  #searchInput {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  button {
    padding: 8px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .poke-container{
    width: 400px;
    height: 500px;
}

.poke-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
 /* kartica za pokemone */
.poke-stats{
    display: flex;
    flex-direction: row;
    margin: 30px;
    justify-content: space-around;
}

.poke-stats div {
    width: 30px;
    margin: 40px;
    text-transform: capitalize;
}

img {
    width: 200px;
    height: auto;
}